html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 62.5%;
}

p, ul, ol, dl {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-bottom: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, Arial, sans-serif;
}

h1 {
  font-size: 2.7rem;
  line-height: 3.1rem;
  margin: 20px 0;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 16px 0;
}

h3 {
  font-size: 1.75rem;
  margin: 25px 0 8px 0;
}

article {
  max-width: 620px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.byline {
  font-family: Tahoma, Arial, sans-serif;
}

dl {
  border-bottom: 1px grey dotted;
  border-top: 1px grey dotted;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1.4rem;
  padding: 12px 0px;
  margin-top: 16px;
}

dt {
  float: left;
  margin-right: 5px;
  font-weight: bold;
}

header {
  float: left;
  width: 48%;
}

figure#main-recipe-photo {
  float: right;
  width: 48%;
}

figure#main-recipe-photo img {
  width: 100%;
  margin-top: 20px;
}

figcaption {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1.2rem;
  margin-top: 2px;
  margin-bottom: 20px;
}

.intro {
  margin-bottom: 20px;
  clear: both;
}

ul {
  list-style-position: inside;
  list-style-type: square;
}

ol {
  list-style-position: inside;
}

ol li {
  margin-top: 8px;
}

#nutrition li {
  list-style-type: none;
  border-bottom: grey dotted 1px;
  float: left;
  width: 48%;
}

#nutrition li:nth-child(odd) {
  margin-right: 20px;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 140px;
}

footer p {
  font: 1.2rem Arial;
}